<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DemoDB.DatabaseProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <applicationSettings>
    <DemoDB.DatabaseProperties>
      <setting name="DBConnection" serializeAs="String">
        <value>Data Source=pamyatayka.db;Version=3;New=True;Compress=True;</value>
      </setting>
      <setting name="CreateIntervals" serializeAs="String">
        <value>CREATE TABLE IF NOT EXISTS Intervals (interval_id VARCHAR(20) PRIMARY KEY, name VARCHAR(60) NOT NULL);</value>
      </setting>
      <setting name="CreateStatuses" serializeAs="String">
        <value>CREATE TABLE IF NOT EXISTS Statuses (status_id VARCHAR(20) PRIMARY KEY, status VARCHAR(60) NOT NULL);</value>
      </setting>
      <setting name="CreateCategories" serializeAs="String">
        <value>CREATE TABLE IF NOT EXISTS Categories (category_id VARCHAR(20) PRIMARY KEY, name VARCHAR(60) NOT NULL, is_default bool NOT NULL, interval_fk varchar(60), FOREIGN KEY (interval_fk) REFERENCES Intervals (interval_id) ON DELETE CASCADE);</value>
      </setting>
      <setting name="CreateGrades" serializeAs="String">
        <value>CREATE TABLE IF NOT EXISTS Grades (grade_id VARCHAR(20) PRIMARY KEY, name VARCHAR(60) NOT NULL, interval_time timestamp NOT NULL, position integer NOT NULL, interval_fk varchar(60), FOREIGN KEY (interval_fk) REFERENCES Intervals (interval_id) ON DELETE CASCADE);</value>
      </setting>
      <setting name="CreateWords" serializeAs="String">
        <value>CREATE TABLE IF NOT EXISTS Words (word_id VARCHAR(60) PRIMARY KEY, term VARCHAR(60) NOT NULL, definition TEXT NOT NULL, status_fk varchar(20) NOT NULL, category_fk varchar(60) NOT NULL, current_grade_fk varchar(60), FOREIGN KEY (status_fk) REFERENCES Statuses (status_id) ON DELETE CASCADE, FOREIGN KEY (category_fk) REFERENCES Categories (category_id) ON DELETE CASCADE, FOREIGN KEY (current_grade_fk) REFERENCES Grades (grade_id) ON DELETE CASCADE);</value>
      </setting>
    </DemoDB.DatabaseProperties>
  </applicationSettings>
</configuration>